---
- hosts: all
  become: true

  vars:
    user_name: admin      # replace with your username
    user_ssh_key: "{{ lookup('file', '~/.ssh/ncg-vps/postgres.pub') }}"
    is_control_node: false # set to true on main dokploy control VPS

  roles:
    - packages
    - ssh
    - fail2ban
    - user
    - ufw
    - sysctl
    - kernel_modules

  # Include dokploy role conditionally
  tasks:
    - name: Include dokploy role only if this is the control VPS
      include_role:
        name: dokploy
      when: is_control_node
