- name: Check if Dokploy (Traefik) container is running
  community.docker.docker_container_info:
    name: dokploy-traefik
  register: dokploy_container
  ignore_errors: true

- name: Install Dokploy if not running
  ansible.builtin.shell: curl -sSL https://dokploy.com/install.sh | sh
  when: dokploy_container is failed
        or not (dokploy_container.exists | default(false))

