---
- name: Install kernel/network hardening sysctl config
  ansible.builtin.copy:
    dest: /etc/sysctl.d/99-hardening.conf
    owner: root
    group: root
    mode: "0644"
    content: |
      # Basic kernel/network hardening for a Docker host

      # Allow IP forwarding (required for Docker networking / NAT)
      net.ipv4.ip_forward = 1

      # Disable ICMP redirects
      net.ipv4.conf.all.accept_redirects = 0
      net.ipv4.conf.default.accept_redirects = 0
      net.ipv6.conf.all.accept_redirects = 0
      net.ipv6.conf.default.accept_redirects = 0

      # Do not send redirects
      net.ipv4.conf.all.send_redirects = 0
      net.ipv4.conf.default.send_redirects = 0

      # Log suspicious (martian) packets
      net.ipv4.conf.all.log_martians = 1
      net.ipv4.conf.default.log_martians = 1

      # Enable SYN cookies (basic SYN flood protection)
      net.ipv4.tcp_syncookies = 1
  notify: Reload sysctl
